body, html {
    height: calc(100% - 4em);
}
body {
    background: rgb(64, 49, 196);
    color: rgb(245, 224, 224);
    text-align: center;
    font-family: 'Montserrat';
    display: grid;
    align-items: center;
    font-size: 3em;
    padding: 2em;
}
